---
layout: default
---

<!-- hero section -->
<div class="bg-shape bg-cover" style=" background-image:linear-gradient(180deg, rgba(30, 24, 53, 0.4) 0%, rgba(30, 24, 53, 0.4) 90.16%), url(../assets/images/hawaiianpizza-default-image.jpg); ">
	<div class="container">
    <div class="row">
      <div class="offset-lg-2 col-lg-8 col-md-12 col-12">
        <div class="text-center pt-lg-13 pt-11 pb-lg-15 pb-13">
          <h1 class="mb-3 display-4 text-white">{{ site.title }}</h1>
          <p class="lead text-light mb-4">
            {{ site.description }}
          </p>
          <!-- 
					<a class="twitter-follow-button"
					  href="https://twitter.com/hawaiianpizza"
					  data-size="large"
					  data-show-count="false">
						Follow @hawaiianpizza
					</a>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          -->
        </div>
      </div>
    </div>
	</div>
</div>

<!-- countdown timer -->
<!-- 
<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8 col-md-12 col-12">
      <div class="mt-n12">
      	<div class="rounded bg-gradient-defunded text-white shadow p-5 text-center mb-5">
          <p class="mb-5 font-weight-bold text-uppercase">The US Federal Government is currently shutdown.</p>
          <p class="lead"><u><a href="https://www.congress.gov/contact-us" target="_blank" class="text-white">Contact your member of Congress</a></u> to ask them to fund the government.</p>
        </div>
      </div>
    </div>
  </div>
</div>
 -->

<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8 col-md-12 col-12 my-5">

      {{ content }}

    </div>
  </div>
</div>